body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
}

.filters {
  flex: 1 2 20vw;
}
.room {
  flex: 1 0 60vw;
}
.ads {
  flex: 1 2 20vw;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

article {
  flex: 1 1 340px;
  aspect-ratio: 16/9;
  background-color: #cbf0f1;
  padding: 1rem;
  border-radius: 1rem;
}

main,
section,
aside {
  background-color: #c8ffe5;
  padding: 1rem;
}
header,
footer {
  background-color: #ddeee6;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
